html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    color: #000;
}

header{
    min-height: 4em;
    padding: 1em;

    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    background-color: rgb(224, 224, 224, 0.5);
}

container {
    display: grid;
    justify-content: center;
    padding: 1em 1%;
    gap: 10px;
}

/* tags */
form{
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
}

img {
    border: 0;
}

input {
    text-align: center;
}

button, select, button[disabled], html input[disabled] {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

::selection{
    background-color: #ae41ee88;
}

input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    outline: none;
}

input[type="search"]::placeholder {
    color: rgb(255, 255, 255, 0.8);
}

::-webkit-input-placeholder, :-moz-placeholder,  ::-moz-placeholder,  :-ms-input-placeholder {
    color: rgb(255, 255, 255, 0.8);
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.input-header, .input-content, select {
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px rgba(100, 100, 100, 1) solid;
    height: 4em;
    width: 15em;
    text-align: center;
    margin: 0 0.5em 0.3em 0;
}

input[type="date"] {
    justify-content: center;
}

fieldset{
    padding: 0;
    margin: 0;
    width: 0;
    height: auto;
    display: inline-block;
    border: none;
}

select {
    appearance: none; 
    color: rgba(100, 100, 100, 1); 
}

select option {
    font-size: large;
}

select option:hover {
    background-color: #f0f0f0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    height: auto;
    overflow-y: hidden;
}

button {
    border: none;
}

ion-icon {
    font-size: 1.5em;
    border: none;
    color: #6d199d;
}

ion-icon:hover, ion-icon:focus {
    filter: brightness(150%);
}

/* Menu */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    display: grid;
    grid-template-columns: 1fr;

    height: 100%; 
    width: 20%;
    min-width: 250px;
    padding: 1em 1.5em 0;

    background: #000000;
    overflow-y: auto; 

    -webkit-transform: translate3d(-120%,0,0);
    transform: translate3d(-120%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-wrap::-webkit-scrollbar {
    width: 12px;
}

.menu-wrap::-webkit-scrollbar-thumb {
    background-color: #545252;
}

.menu-wrap::-webkit-scrollbar-track {
    background-color: #000;
}

.menu-head  {
    display: block;
    text-align: center;
    font-size: 1.5em;    
    height: auto;
    margin: 0;
}

.logo{
    width: 8em;
}

.links a {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    transition: 1s ease-in-out;
}

.links a:hover, .links a:focus {
    filter: brightness(120%);
    transition: 1s ease-in;
}

.icon50{
    font-size: 50px;
}

.icon40{
    font-size: 40px;
}

.links .link, .links .link-view {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 4em;
    margin: 1em 0;
}

.links .link {
    background-color: #37009e;
    box-shadow: 0px 0px 10px #5900ff, 0px 0px 10px #5900ff inset ;
}

.links .link ion-icon {
    color: #FFFFFF;
}

.links .link-view{
    background-color: #a200ff;
    box-shadow: 0px 0px 10px #9950c3, 0px 0px 10px #9950c3 inset ;
}

/* Menu Button */
.open {
    font-size: 30px;
    cursor: pointer;
}

.usuario {
    text-align: center;
    color: #f0f0f0;
}

.close, .logout {
    position: absolute;
    right: 0.5em;
    cursor: pointer;
}

.close {
    top: 0.5em;
}

.logout {
    top: 2em;
}

.expand {
    font-size: 50px;
    color: #9950c3;
    cursor: pointer;
}

/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

@media only screen and (max-width: 750px) {
    header {
        grid-template-columns: 30% 30%;
        gap: 2%;
    }
}
